.header {
  height: 52px;
  justify-content: space-between;
  background-color: #fff;

  .header-container {
    display: flex;
  }

  .header-left {
    flex: 1;
  }

  .header-center {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-item {
      margin: 0 8px;
      text-transform: uppercase;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      letter-spacing: .02em;
      font-weight: 700;
      color: var(--header-color);
      transition: color .3s;
      text-decoration: none;
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}